.container {
    background-color: yellow;
    width: 500px;
    height: 300px;
}
.innerItem1 {
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 270px;
    vertical-align: middle;
    line-height: 1.25;
}
.innerItem2 {
    display: inline-block;
    background-color: blue;
    width: 100px;
    height: 200px;
    /* vertical-align: middle; */
}
.innerItem3 {
    display: inline-block;
    background-color: green;
    width: 100px;
    height: 100px;
    /* vertical-align: middle; */
}