$dark-theme-primary-color: black;
$dark-theme-text-color: white;
$light-theme-primary-color: white;
$light-theme-text-color: black;


$text-weights : (
    "regular": 400, 
    "medium": 600,
    "bold": 800
);